<h1>Editing Stock</h1>

    <div class="jumbotron">

        <%= render 'form', stock: @stock %>

        <%= link_to 'Show', @stock, class: "btn btn-outline-secondary" %> 
        <%= link_to '<< Back', stocks_path, class: "btn btn-outline-secondary" %>

    </div>
