<br/>
<h1>About Me</h1>
<br/>
<p>I am a Ruby on Rails enthusiast.</p>

<p> The Stock Market app that let's you look up stock quotes and financial information and save it to a database. </p>

<p> Ruby version 2.6.3 </p>
<p> Rails version 6.0  </p>
<p> PostgreSQL </p>

<p> Inspiration: LC 101 - LaunchCode @ Rockhurst University, Kansas City, MO. </p>


<p> Comments to <strong>pillai@gmx.com </strong> </p>


